@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap');

@mixin title {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin body-italic {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}
@mixin body-bold {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}